certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
geojson==2.5.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyowm==2.10.0
pypiwin32==223
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
pywin32==227
requests==2.23.0
SpeechRecognition==3.8.1
urllib3==1.26.5
Werkzeug==1.0.1
Flask==1.1.1
PyAudio==0.2.11